<% include header%>
<div class="card">
    <div class="card-block">
        <h4 class="card-title"><% title %></h4>

        <form class="form-inline"  method="post" action="http://localhost:3000/fibocal">

                <p>Enter the max number you want to see the fibonacci sequence for.</p>
                <label for="maxNumber" class="sr-only">Number</label>
                <input class="form-control" name="maxNumber" placeholder="Number" type="text">
            <input type="submit" value="submit">
        </form>

        <%if ( show ) { %>

        <ul class="list-inline">

            <% for(var i=0; i < sequence.length; i++) { %>
            <li class="list-inline-item"><%= sequence[i] %></li>
            <% } %>

        </ul>

        <% } else { %>

        <% } %>
    </div>
</div>

<% include footer %>
